cmake-build-debug/*
cmake-build-debug
cmake-build-release
cmake-build-release/*
.idea
/.vscode
/build
msvc/*
util/nomatch.txt
util/list.lua
util/settings.txt
util/v_luasettings_decl.c
util/v_luasettings_game.c
util/v_luasettings_game.h
/.vs
/out/build/x64-Debug
/out/build
CmakeSettings.txt